<div>
  <h2>Page 1</h2>

  <div ng-controller="CalcController">
    <p>Angka Pertama : <input type="number" ng-model="number"></p>

    <p>Angka Kedua   : <input type="number" ng-model="number2"></p>

    <button ng-click="square1()">X</button>
    <button ng-click="square2()">:</button>
    <button ng-click="square3()">+</button>
    <button ng-click="square4()">-</button>

    <p>Result: {{result}}</p>
  </div>

</div>
